.main {
    max-height: 50vh;
}

.mainContent {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.nftHighlight {
    display: flex;
    flex: 0.25;
    align-items: center;
    justify-content: center;
}

.nftContainer {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    margin-right: 20px;
}

.selectedNFT {
    object-fit: contain;
    max-width: min(30vw, 40vh);
    max-height: 30vw;
}

.nftDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0.75;
}

.title {
    font-size: 96px;
    font-weight: 800;
}

.itemNumber {
    color: #a1a5b0;
    font-size: 72px;
    align-self: center;
    padding-right: 80%;
}

.owner {
    display: flex;
    margin: 10px 0;
    height: 50px;
}

.owner > div {
    margin: 0 5px;
}

.ownerImageContainer {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    overflow: hidden;
    object-fit: contain;
}

.ownerImageContainer > img {
    height: 100%;
    width: 100%;   
}

.ownerDetails {
    display: flex;
    align-items: center;
    flex: 1;
}

.ownerNameAndHandle {
    flex: 1;
    color: #fff;
}

.ownerHandle > a {
    color: #00ebfe;
    text-decoration: none;
}

.ownerLink {
    padding: 12px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    margin: 0 0 0 10px;
}

.ownerLink > a > img {
    height: 100%;
    width: 100%;
}
